# FINAL PROJECT

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load clean data
rates = pd.read_csv('inputs/Clean_Data/Clean_Rates.csv')
sp500_ret = pd.read_csv('inputs/Clean_Data/Clean_sp500_ret.csv')
stock_tv = pd.read_csv('inputs/Clean_Data/Clean_stock_tv.csv')
Vbilx = pd.read_csv('inputs/Clean_Data/Clean_Vbilx.csv')
Vbirx= pd.read_csv('inputs/Clean_Data/Clean_Vbirx.csv')

## Merging data

In [3]:
# Set date column as index in each dataset
Vbilx.set_index('Date', inplace=True)
Vbirx.set_index('Date', inplace=True)
sp500_ret.set_index('date', inplace=True)

# Merge datasets 
merged_data = pd.concat([Vbilx['Daily Price'],Vbilx['Daily Returns'], Vbirx['Daily Price'], Vbirx['Daily Returns'], sp500_ret['S&P_500']], axis=1, keys=['VBILX Price','VBILX Returns', 'VBIRX Price', 'VBIRX Returns', 'S&P 500'])
merged_data.reset_index(inplace=True)
merged_data = merged_data.rename(columns={'index':'Date'})

In [4]:
merged_data

,Date,VBILX Price,VBILX Returns,VBIRX Price,VBIRX Returns,S&P 500
0,2015-01-05,9.135242,0.004348,9.157207,0.000953,2020.58
1,2015-01-06,9.174788,0.004329,9.165928,0.000952,2002.61
2,2015-01-07,9.174788,0.000000,9.174649,0.000951,2025.90
3,2015-01-08,9.151064,-0.002586,9.165928,-0.000951,2062.14
4,2015-01-09,9.182693,0.003456,9.183370,0.001903,2044.81
...,...,...,...,...,...,...
2085,2023-04-18,10.340000,0.001938,9.990000,0.000000,4154.87
2086,2023-04-19,10.320000,-0.001934,9.980000,-0.001001,4154.52
2087,2023-04-20,10.360000,0.003876,10.000000,0.002004,4129.79
2088,2023-04-21,10.340000,-0.001930,10.000000,0.000000,4133.52
2089,2023-04-24,10.380000,0.003868,10.010000,0.001000,4137.04

## Correlation Analysis

In [6]:
filtered_dates = ['2015-12-17', '2016-12-15', '2017-03-16', '2017-06-15', '2017-12-14', '2018-03-22',
                  '2018-06-14', '2018-09-27', '2018-12-20', '2019-08-01', '2019-09-19', '2019-10-31',
                  '2020-03-03', '2020-03-16', '2022-03-17', '2022-05-05', '2022-06-16', '2022-07-28',
                  '2022-09-22', '2022-11-03', '2022-12-15', '2023-02-02', '2023-03-23']

merged_data_filtered = merged_data[merged_data['Date'].isin(filtered_dates)]

In [9]:
merged_data_rates = pd.merge(merged_data_filtered, rates, on='Date', how='left')

In [12]:
merged_data_rates = merged_data_rates.rename(columns={'Increase': 'rates increase', 'Decrease': 'rates decrease', 'Tgt_level': 'rates Tgt_level'})
merged_data_rates

,Date,VBILX Price,VBILX Returns,VBIRX Price,VBIRX Returns,S&P 500,rates increase,rates decrease,rates Tgt_level
0,2015-12-17,9.178915,0.003546,9.217262,0.000000,2041.89,25.0,0.0,0.25.0.50
1,2016-12-15,9.314663,-0.002681,9.303717,-0.000963,2262.03,25.0,0.0,0.50.0.75
2,2017-03-16,9.455320,-0.001781,9.369159,-0.000959,2381.38,25.0,0.0,0.75.1.00
3,2017-06-15,9.772592,-0.001734,9.448401,-0.000954,2432.46,25.0,0.0,1.00.1.25
4,2017-12-14,9.808611,-0.000876,9.456396,-0.000962,2652.01,25.0,0.0,1.25.1.50
5,2018-03-22,9.554845,0.002730,9.388980,0.000974,2643.69,25.0,0.0,1.50.1.75
6,2018-06-14,9.536573,0.002755,9.398149,0.000979,2782.49,25.0,0.0,1.75.2.00
7,2018-09-27,9.580154,0.000919,9.437716,0.000000,2914.00,25.0,0.0,2.00.2.25
8,2018-12-20,9.713158,-0.001821,9.536057,0.000000,2467.42,25.0,0.0,2.25.2.50
9,2019-08-01,10.661653,0.008547,9.964712,0.003798,2953.56,0.0,25.0,2.00.2.25
10,2019-09-19,10.694732,0.000848,9.964625,0.000000,3006.79,0.0,25.0,1.75.2.00
11,2019-10-31,10.842660,0.006501,10.048861,0.003788,3037.56,0.0,25.0,1.50.1.75
12,2020-03-03,11.385935,0.010586,10.303480,0.004655,3003.37,0.0,50.0,1.00.1.25
13,2020-03-16,11.165740,0.009121,10.255735,0.002801,2386.13,0.0,100.0,0.0.25
14,2022-03-17,10.932011,0.000894,10.127103,0.000000,4411.67,25.0,0.0,0.25.0.50
15,2022-05-05,10.355031,-0.007512,9.952765,-0.002964,4146.87,50.0,0.0,0.75.1.00
16,2022-06-16,10.186850,0.002898,9.874658,0.002004,3666.77,75.0,0.0,1.50.1.75
17,2022-07-28,10.608491,0.008411,10.034773,0.003957,4072.43,75.0,0.0,2.25.2.50
18,2022-09-22,9.937954,-0.012745,9.752472,-0.004049,3757.99,75.0,0.0,3.00.3.25
19,2022-11-03,9.712539,-0.004065,9.670088,-0.002051,3719.89,75.0,0.0,3.75.4.00
20,2022-12-15,10.270068,0.000968,9.882905,-0.001006,3895.75,50.0,0.0,4.25.4.50
21,2023-02-02,10.447126,0.000956,9.994741,0.000000,4179.76,25.0,0.0,4.50.4.75
22,2023-03-23,10.420000,0.004822,10.050000,0.002994,3948.72,25.0,0.0,4.75.5.00

## Correlation matrix

In [18]:
corr_matrix = merged_data_rates.corr()
corr_matrix

/var/folders/_c/n4fjhrcn45bfs76s3p_8hn2c0000gn/T/ipykernel_24342/3508065394.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = merged_data_rates.corr()

,VBILX Price,VBILX Returns,VBIRX Price,VBIRX Returns,S&P 500,rates increase,rates decrease
VBILX Price,1.000000,0.520135,0.969301,0.566044,0.443218,-0.293229,0.641090
VBILX Returns,0.520135,1.000000,0.423062,0.949535,-0.148605,-0.500361,0.542758
VBIRX Price,0.969301,0.423062,1.000000,0.490783,0.596781,-0.114138,0.553973
VBIRX Returns,0.566044,0.949535,0.490783,1.000000,-0.068384,-0.433435,0.490777
S&P 500,0.443218,-0.148605,0.596781,-0.068384,1.000000,0.518595,-0.260958
rates increase,-0.293229,-0.500361,-0.114138,-0.433435,0.518595,1.000000,-0.530330
rates decrease,0.641090,0.542758,0.553973,0.490777,-0.260958,-0.530330,1.000000

### Data Sources

- FOMC Rates 
        Source:https://www.federalreserve.gov/monetarypolicy/openmarket.htm
        
- Index Returns
    Source: https://www.spglobal.com/spdji/en/indices/equity/sp-500/#overview
    
- Stock Trading VolumeÂ¶
  Source: https://ycharts.com/indicators/cboe_spx_volume
  
- VBLAX data 
    Source: Yahoo Finance (import yfinance as yf)
    
- VBIRX data 
    Source: Yahoo Finance (import yfinance as yf)