# FINAL PROJECT

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load clean data
rates = pd.read_csv('inputs/Clean_Data/Clean_Rates.csv')
sp500_ret = pd.read_csv('inputs/Clean_Data/Clean_sp500_ret.csv')
stock_tv = pd.read_csv('inputs/Clean_Data/Clean_stock_tv.csv')
Vbilx = pd.read_csv('inputs/Clean_Data/Clean_Vbilx.csv')
Vbirx= pd.read_csv('inputs/Clean_Data/Clean_Vbirx.csv')

## Merging data

In [6]:
# Set date column as index in each dataset
Vbilx.set_index('Date', inplace=True)
Vbirx.set_index('Date', inplace=True)
sp500_ret.set_index('date', inplace=True)

# Merge datasets 
merged_data = pd.concat([Vbilx['Daily Price'],Vbilx['Daily Returns'], Vbirx['Daily Price'], Vbirx['Daily Returns'], sp500_ret['S&P_500']], axis=1, keys=['VBILX Price','VBILX Returns', 'VBIRX Price', 'VBIRX Returns', 'S&P 500'])
merged_data.reset_index(inplace=True)
merged_data = merged_data.rename(columns={'index':'date'})

In [7]:
merged_data

,date,VBILX Price,VBILX Returns,VBIRX Price,VBIRX Returns,S&P 500
0,2015-01-05,9.135242,0.004348,9.157209,0.000954,2020.58
1,2015-01-06,9.174789,0.004329,9.165932,0.000953,2002.61
2,2015-01-07,9.174789,0.000000,9.174656,0.000952,2025.90
3,2015-01-08,9.151060,-0.002586,9.165932,-0.000951,2062.14
4,2015-01-09,9.182694,0.003457,9.183367,0.001902,2044.81
...,...,...,...,...,...,...
2085,2023-04-18,10.340000,0.001938,9.990000,0.000000,4154.87
2086,2023-04-19,10.320000,-0.001934,9.980000,-0.001001,4154.52
2087,2023-04-20,10.360000,0.003876,10.000000,0.002004,4129.79
2088,2023-04-21,10.340000,-0.001930,10.000000,0.000000,4133.52
2089,2023-04-24,10.380000,0.003868,10.010000,0.001000,4137.04

### Data Sources

- FOMC Rates 
        Source:https://www.federalreserve.gov/monetarypolicy/openmarket.htm
        
- Index Returns
    Source: https://www.spglobal.com/spdji/en/indices/equity/sp-500/#overview
    
- Stock Trading Volume¶
  Source: https://ycharts.com/indicators/cboe_spx_volume
  
- VBLAX data 
    Source: Yahoo Finance (import yfinance as yf)
    
- VBIRX data 
    Source: Yahoo Finance (import yfinance as yf)