# Load Data

In [1]:
import pandas as pd

### FOMC Rates

In [2]:
rates = pd.read_csv('inputs/FOMC_rates.csv')

In [3]:
rates

       ﻿Date  Increase  Decrease  Tgt_level
0   12/17/15        25         0  0.25-0.50
1   12/15/16        25         0  0.50-0.75
2    3/16/17        25         0  0.75-1.00
3    6/15/17        25         0  1.00-1.25
4   12/14/17        25         0  1.25-1.50
5    3/22/18        25         0  1.50-1.75
6    6/14/18        25         0  1.75-2.00
7    9/27/18        25         0  2.00-2.25
8   12/20/18        25         0  2.25-2.50
9     8/1/19         0        25  2.00-2.25
10   9/19/19         0        25  1.75-2.00
11  10/31/19         0        25  1.50-1.75
12    3/3/20         0        50  1.00-1.25
13   3/16/20         0       100     0-0.25
14   3/17/22        25         0  0.25-0.50
15    5/5/22        50         0  0.75-1.00
16   6/16/22        75         0  1.50-1.75
17   7/28/22        75         0  2.25-2.50
18   9/22/22        75         0  3.00-3.25
19   11/3/22        75         0  3.75-4.00
20  12/15/22        50         0  4.25-4.50
21    2/2/23        25         0  4.50-4.75
22   3/23/23        25         0  4.75-5.00

Source: https://www.federalreserve.gov/monetarypolicy/openmarket.htm

### Index Returns

In [4]:
sp500_ret = pd.read_csv('inputs/SP500_ret.csv')

In [5]:
sp500_ret

     Effective_date   S&P_500
0             1/2/15  2058.20
1             1/5/15  2020.58
2             1/6/15  2002.61
3             1/7/15  2025.90
4             1/8/15  2062.14
...              ...      ...
2087         4/19/23  4154.52
2088         4/20/23  4129.79
2089         4/21/23  4133.52
2090         4/24/23  4137.04
2091         4/25/23  4071.63

[2092 rows x 2 columns]

Source: https://www.spglobal.com/spdji/en/indices/equity/sp-500/#overview

### Stock Trading Volume

In [6]:
stock_tv = pd.read_csv('inputs/SP500_TV.csv')

In [7]:
stock_tv

        Date    Value
0    12/2/15  1088000
1    12/3/15  1379000
2    12/4/15  1308000
3    12/7/15   712744
4    12/8/15   670998
..       ...      ...
502  3/31/23  3293000
503   4/3/23  2494000
504   4/4/23  2687000
505   4/5/23  2311000
506   4/6/23  2462000

[507 rows x 2 columns]

Source: https://ycharts.com/indicators/cboe_spx_volume

### VBLAX data

In [8]:
#pip install yfinance
import yfinance as yf
import pandas as pd
from datetime import datetime

In [9]:
start  = datetime(2015, 1, 1)
end    = datetime(2023, 4, 25)

In [10]:
stock_prices = yf.download('VBLAX', start=start, end=end)

daily_returns = stock_prices['Adj Close'].pct_change()
daily_price = stock_prices['Adj Close']
daily_returns['Volume'] = stock_prices['Volume']

Vblax = pd.DataFrame({'Daily Returns': daily_returns, 'Daily Price': daily_price, 'Trading Volume': stock_prices['Volume']})
Vblax

[*********************100%***********************]  1 of 1 completed

,Daily Returns,Daily Price,Trading Volume
Date,,,
2019-02-07 00:00:00,NaN,11.382691,0.0
2019-02-08 00:00:00,0.002226,11.408024,0.0
2019-02-11 00:00:00,-0.002221,11.382691,0.0
2019-02-12 00:00:00,-0.002225,11.357360,0.0
2019-02-13 00:00:00,-0.00223,11.332029,0.0
...,...,...,...
2023-04-19 00:00:00,-0.00175,11.410000,0.0
2023-04-20 00:00:00,0.005259,11.470000,0.0
2023-04-21 00:00:00,-0.003487,11.430000,0.0
2023-04-24 00:00:00,0.007874,11.520000,0.0
Volume,Date 2019-02-07 0 2019-02-08 0 2019-02-1...,NaN,NaN

### VBIRX data

In [11]:
stock_prices2 = yf.download('VBIRX', start=start, end=end)

daily_returns2 = stock_prices2['Adj Close'].pct_change()
daily_price2 = stock_prices2['Adj Close']
daily_returns2['Volume'] = stock_prices2['Volume']

Vbirx = pd.DataFrame({'Daily Returns': daily_returns2, 'Daily Price': daily_price2, 'Trading Volume': stock_prices2['Volume']})
Vbirx

[*********************100%***********************]  1 of 1 completed

,Daily Returns,Daily Price,Trading Volume
Date,,,
2015-01-02 00:00:00,NaN,9.148484,0.0
2015-01-05 00:00:00,0.000953,9.157203,0.0
2015-01-06 00:00:00,0.000952,9.165924,0.0
2015-01-07 00:00:00,0.000952,9.174646,0.0
2015-01-08 00:00:00,-0.000951,9.165924,0.0
...,...,...,...
2023-04-19 00:00:00,-0.001001,9.980000,0.0
2023-04-20 00:00:00,0.002004,10.000000,0.0
2023-04-21 00:00:00,0.0,10.000000,0.0
2023-04-24 00:00:00,0.001,10.010000,0.0
Volume,Date 2015-01-02 0 2015-01-05 0 2015-01-0...,NaN,NaN