# Load Data

In [1]:
import pandas as pd

### FOMC Rates

In [ ]:
rates = pd.read_csv('inputs/FOMC_rates.csv')

In [5]:
rates

        Date  Increase  Decrease  Tgt_level
0    3/23/23        25         0  4.75-5.00
1     2/2/23        25         0  4.50-4.75
2   12/15/22        50         0  4.25-4.50
3    11/3/22        75         0  3.75-4.00
4    9/22/22        75         0  3.00-3.25
5    7/28/22        75         0  2.25-2.50
6    6/16/22        75         0  1.50-1.75
7     5/5/22        50         0  0.75-1.00
8    3/17/22        25         0  0.25-0.50
9    3/16/20         0       100     0-0.25
10    3/3/20         0        50  1.00-1.25
11  10/31/19         0        25  1.50-1.75
12   9/19/19         0        25  1.75-2.00
13    8/1/19         0        25  2.00-2.25
14  12/20/18        25         0  2.25-2.50
15   9/27/28        25         0  2.00-2.25
16   6/14/18        25         0  1.75-2.00
17   3/22/18        25         0  1.50-1.75
18  12/14/17        25         0  1.25-1.50
19   6/15/17        25         0  1.00-1.25
20   3/16/17        25         0  0.75-1.00
21  12/15/16        25         0  0.50-0.75
22  12/17/15        25         0  0.25-0.50

Source: https://www.federalreserve.gov/monetarypolicy/openmarket.htm

### Index Returns

In [20]:
sp500_ret = pd.read_csv('inputs/SP500_ret.csv')

In [21]:
sp500_ret

     Effective_date   S&P_500
0             1/2/15  2058.20
1             1/5/15  2020.58
2             1/6/15  2002.61
3             1/7/15  2025.90
4             1/8/15  2062.14
...              ...      ...
2087         4/19/23  4154.52
2088         4/20/23  4129.79
2089         4/21/23  4133.52
2090         4/24/23  4137.04
2091         4/25/23  4071.63

[2092 rows x 2 columns]

Source: https://www.spglobal.com/spdji/en/indices/equity/sp-500/#overview

### Stock Trading Volume

In [11]:
stock_tv = pd.read_csv('inputs/SP500_TV.csv')

In [12]:
stock_tv

          Date    Value
0     6-Apr-23  2462000
1     5-Apr-23  2311000
2     4-Apr-23  2687000
3     3-Apr-23  2494000
4    31-Mar-23  3293000
..         ...      ...
502   8-Dec-15   670998
503   7-Dec-15   712744
504   4-Dec-15  1308000
505   3-Dec-15  1379000
506   2-Dec-15  1088000

[507 rows x 2 columns]

Source: https://ycharts.com/indicators/cboe_spx_volume

### Vblax

In [6]:
#pip install yfinance
import yfinance as yf
import pandas as pd
from datetime import datetime

In [10]:
start  = datetime(2015, 1, 1)
end    = datetime(2023, 4, 25)

In [11]:
stock_prices = yf.download('VBLAX', start=start, end=end)

daily_returns = stock_prices['Adj Close'].pct_change()
daily_price = stock_prices['Adj Close']
daily_returns['Volume'] = stock_prices['Volume']

Vblax = pd.DataFrame({'Daily Returns': daily_returns, 'Daily Price': daily_price, 'Trading Volume': stock_prices['Volume']})
Vblax

[*********************100%***********************]  1 of 1 completed

,Daily Returns,Daily Price,Trading Volume
Date,,,
2019-02-07 00:00:00,NaN,11.382690,0.0
2019-02-08 00:00:00,0.002226,11.408026,0.0
2019-02-11 00:00:00,-0.002221,11.382690,0.0
2019-02-12 00:00:00,-0.002225,11.357362,0.0
2019-02-13 00:00:00,-0.002231,11.332026,0.0
...,...,...,...
2023-04-19 00:00:00,-0.00175,11.410000,0.0
2023-04-20 00:00:00,0.005259,11.470000,0.0
2023-04-21 00:00:00,-0.003487,11.430000,0.0
2023-04-24 00:00:00,0.007874,11.520000,0.0
Volume,Date 2019-02-07 0 2019-02-08 0 2019-02-1...,NaN,NaN