# Load Data

In [1]:
import pandas as pd

### FOMC Rates

In [2]:
rates = pd.read_csv('inputs/FOMC_rates.csv')

In [3]:
rates

        Date  Increase  Decrease  Tgt_level
0    3/23/23        25         0  4.75-5.00
1     2/2/23        25         0  4.50-4.75
2   12/15/22        50         0  4.25-4.50
3    11/3/22        75         0  3.75-4.00
4    9/22/22        75         0  3.00-3.25
5    7/28/22        75         0  2.25-2.50
6    6/16/22        75         0  1.50-1.75
7     5/5/22        50         0  0.75-1.00
8    3/17/22        25         0  0.25-0.50
9    3/16/20         0       100     0-0.25
10    3/3/20         0        50  1.00-1.25
11  10/31/19         0        25  1.50-1.75
12   9/19/19         0        25  1.75-2.00
13    8/1/19         0        25  2.00-2.25
14  12/20/18        25         0  2.25-2.50
15   9/27/28        25         0  2.00-2.25
16   6/14/18        25         0  1.75-2.00
17   3/22/18        25         0  1.50-1.75
18  12/14/17        25         0  1.25-1.50
19   6/15/17        25         0  1.00-1.25
20   3/16/17        25         0  0.75-1.00
21  12/15/16        25         0  0.50-0.75
22  12/17/15        25         0  0.25-0.50

### Stock Returns

### Long Term Bond Returns

### Short Term Bond Reutrns

### Stock Trading Volume

### Long Term Bond Trading Volume

### Short Term Bond Trading Volume